@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.display-flex {
    display: flex;
}

/* dark-02 */
.text-gray {
    color: #424242;
}

/* dark-03 */
.text-light-gray {
    color: #727272;
}

.bg-primary {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar,
.banner,
.fact-section {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    border-radius: 8px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* header styles */
/* navbar styles */
.nav-item {
    list-style: none;
    margin-right: 30px;
}

.link {
    text-decoration: none;
    font-weight: 500;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

main>section {
    margin-top: 130px;
}

/* banner related style */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.bannner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
}

/* team and feature realated style */
.team {
    align-items: center;
    gap: 70px;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature {
    max-width: 537px;
    margin-left: 130px;
}

.feature-title {
    font-size: 3rem;
    font-weight: 500;
}

#st-2 {
    font-weight: 700;
}

#st-3 {
    font-weight: 700;
    color: #FF900E;
    text-align: left;
}

.feature-des {
    line-height: 26px;

}

/* Fact related styles */
.fact {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 100px;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #727272;

}

.fact-des {
    max-width: 540px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 100px;
}

.section-title {
    max-width: 258px;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Styles  for Sponsor Section */
.sponsor-info {
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
}

.sponsor-des {
    max-width: 542px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.sponsord-logo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsord-logo>img {
    filter: grayscale(100%);
}

/* feature will enjoy section style */

.feature-container {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}



#feature-title-style {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 30px;
}

.features {
    gap: 140px;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-container h4 {
    font-size: 1.4rem;
    font-weight: 600;
}

.feature-container p {
    line-height: 24px;
}

.feature-container,
.feature-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.feature-img img{
    width: 100%;
}

#experience-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year {
    font-size: 4rem;
    font-weight: 700;
}

/* responsive medaia query */
@media screen and (max-width: 576px) {

    .navbar,
    .nav-link,
    .team,
    .features {
        flex-direction: column;
    }

    .team-image-container,
    .fact-container,
    .sponsord-logo {
        grid-template-columns: repeat(1, 1fr);
    }

    .feature {
        margin-left: 20px;
    }

    .fact-container {
        justify-items: center;
        gap: 20px;
    }

    .sponsord-logo {
        gap: 35px;
        justify-items: center;
    }

    #experience-badge {
        padding: 45px 42px;
        font-size: 1.5rem;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 20px;
    }
}


@media screen and (min-width: 577px) and (max-width: 992px) {
    .team {
        flex-direction: column;
    }

    .feature {
        margin: 50 auto;
    }

}